
.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  /* shared styles */
.orange{
    color: #FEA301;
}
.display-flex{
    display: flex;
}
.sky-blue{
    color: #01ACFD;
}
.paste{
    color: #05D4DF;
}
.purple{
    color: #5D58EF;
}
.btn-2{
    background-color: black;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 12px;
    width: 197px;
    height: 50px;
    border: none;
}
.white{
    color: #ffffff;
}
.footer-nav{
    font-weight: 500;
    font-size: 1.25rem;
}
/* header section */

.navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    max-height: 102px;
    margin: 0 80px;
}

.logo-image{
    width: 62px;
    height: 62px;
    
    
}
.logo-title{
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.nav-school{
    font-size: 2rem;
    font-weight: bold;
}
.nav-link{
    text-decoration: none;
}
.nav-item{
    list-style: none;
    gap: 40px;
}

.home-nav{
    font-size: 1.25rem;
    font-weight: bold;
}
.same-nav{
    font-size: 1.25rem;
    font-weight: 500;
}
.btn-1{
    background-color: #FEA301;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    width: 197px;
    height: 50px;
    border-radius: 12px;
}
.menu-icon{
    display: none;
    width: 30px;
    height: 30px;
    background: url('../assets/icons8-menu-50.png') no-repeat;
    background-size: contain;
}
.navbar::after{
    content: "";
    display: none;
    width: 100%;
    height: 1px;
    background-color: #FEA301;
}
/* banner section */
.banner{
    justify-content: space-between;
    align-items: center;
    max-width: 1158px;
    max-height: 575px;
    margin: 50px;
}
.head-title{
    font-size: 3.5rem;
    font-weight: bold;
   
}
.head-para{
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: -10px;
}
.banner-img{
    width: 468px;
    height: 575px;
}
.marquee{
    width: 1000px;
    background-color: #bcebff;
    margin-left: 100px;
    color: darkblue;

}
/* main section */
/* first section */

.main-content-body{
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-items: center;
    align-items: center;
    max-width: 1440px;
    max-height: 879px;
}
.container{
    width: 1160px;
    height: 481px;
    gap: 20px;
    justify-content: space-between;
    
}
.main-image{
    width: 136px;
    height: 136px;
    margin-top: 50px;
}
.common-box{
    width: 367px;
    height: 476px;
    border-radius: 18px;
    text-align: center;
    
}
.box-1{ 
    background:linear-gradient(to bottom, rgba(222, 245, 255, 1), rgba(255, 255, 255, 1)); 
    border: 1px solid #DEF5FF;  
}
.box-2{
    background:linear-gradient(to bottom, rgba(255, 244, 220, 1), rgba(255, 255, 255, 1));
    border: 1px solid #FFF4DC;
}
.box-3{
    background:linear-gradient(to bottom, rgba(242, 232, 255, 1), rgba(255, 255, 255, 1));
    border: 1px solid #F2E8FF;
}

.main-title{
    font-size: 2.87rem;
    font-weight: bold;
   
}
.common-title{
    font-size: 1.53rem;
    font-weight: bold;
    
}
.main-para{
    width: 286px;
    height: 74px;
    font-size: 0.99rem;
    font-weight: 500;
    color: #808080;
   margin-left: 30px;
}
.main-read1{
    text-decoration: none;
    color: #64C8FF;
}
.main-read2{
    text-decoration: none;
    color: #FEA301;
}
.main-read3{
    text-decoration: none;
    color: #5D58EF;
}
.arrows{
    gap: 10px;
    margin-top: 40px;
}
.arrow{
    width: 60px;
    height: 60px;
    background-color: #FEA301;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}
.arrow img {
    width: 24px;
    height: auto;
    filter: invert(1);  
}

/* second section */
.our-story{
    background:linear-gradient(to top, rgba(244, 210, 138, 0.8), rgba(232, 228, 228, 0.1)), url('../assets/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1440px;
    height: 1080px;
}
.full-container{
    justify-content: space-between;
    width: 1160px;
    height: 630px;
    margin-left: 40px;
    margin-top: 170px;
   
}
.second-title{
    font-size: 2.87rem;
    font-weight: bold;
    text-align: center;
}
.description{
    margin-left: 25px;
}
.main-title02{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 30px;
}
.para02{
    font-size: 0.93rem;
    font-weight: 500;
    color: #808080;
    margin-left: 30px;
}
.img-01{
    width: 540px;
    height: 337px;
    border-radius: 16px 16px 0 0;
    overflow: hidden;
    margin: 0;
    margin-top: -18px;
}
.img-btn{
    background-color: #3CD8E8;
    border-radius: 47px;
    border: none;
    color: #ffffff;
    width: 174px;
    height: 47px;
    margin-top: -30px;
    margin-left: 25px;
}
.container-02{
    background-color: #ffffff;
    width: 540px;
    height: 630px;
    border-radius: 16px;

}
/* four image */
.four-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
    width: 601px;
    height: 622px;
    margin-left: 30px;
   
}
.img-container{
    background-color: #ffffff;
    border-radius: 16px;
    width: 290px;
    height: 301px;

}
/* extra image */
.extra-img{
    display: none;
}
.img-common{
    width: 290px;
    height: 177px;
    border-radius: 16px 16px 0 0 ;

}
.img-btn-same{
    background-color: #95B226;
    font-size: 0.93rem;
    font-weight: 500;
    color: #ffffff;
    border-radius: 47px;
    border: none;
    width: 174px;
    height: 38px;
    margin-top: -25px;
    margin-left: 20px;
}
.img-btn-purple{
    background-color: #5D58F0;
    font-size: 0.93rem;
    font-weight: 500;
    color: #ffffff;
    border-radius: 47px;
    border: none;
    width: 174px;
    height: 38px;
    margin-left: 30px;
    margin-top: -25px;
    
}
.same-title{
    font-size: 0.93rem;
    font-weight: bold;
    margin-left: 40px;
}
.last-btn{
   margin-top: 50px;
   margin-left: 38%;
}

/* footer section */
.footer-bg{
    background-color: #01ACFD;
    width: 1439px;
    height: 519px;
}
.footer-container{
    justify-content: space-around;
    align-items: center;
    width: 1070px;
    height: 222px;
    padding-top: 150px;
    padding-left: 30px;

}
.footer-logo{
    width: 82px;
    height: 81px;
    
}
.kids{
    font-size: 2.62rem;
    font-weight: bold;
}
.footer-para{
    font-size: 1.25rem;
    font-weight: 400;
}
.about-school{
    font-size: 1.5rem;
    font-weight: bold;
}
.keep-in-touch{
    font-size: 1.62rem;
    font-weight: bold;
}
.logo-size{
    width: 40px;
    height: 40px;
    border-radius: 4px;
}
.nav-item02{
    list-style: none;
    gap: 40px;
}
/* responsive for small device */
@media screen and (max-width:576px) {
    .navbar,
    .nav-item,
    .banner,
    .container,
    .full-container,
    .four-img,
    .footer-container,
    .first-logo-div{
        flex-direction: column;

    }
    .nav-item{
        display: none;
    }
    .btn-1{
        display: none;
    }
    .nav-school{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    .navbar::after{
        display: block;
    }
    .marquee{
     display: none;
    }
    .banner{
        margin-left: -160px;
        width: 576px;
    }
    .head-para{
        font-size: 0.87rem;
        font-weight: 500;
    }

    .navbar{
        border: 1px solid #FEA301;
        width: 380px;
        height: 70px;
        margin: 0;
    }
    .banner-img{
        width: 336px;
        height: 413px;
        order: -1;
       
    }
    .banner-title{
        width: 357px;
        height: 282px;
        margin-left: 100px;
        margin-right: 5px;
        margin-top: 160px;
        text-align: center;
    }
    .head-title{
        font-size: 2rem;
        font-weight: bold;
       
    }
    .btn-2{
        width: 131px;
        height: 42px;
        font-size: 1rem;
    }
    /*main section*/
    /* first section */
    .main-content-body{
        margin-top: 300px;
        
    }
    .main-title{
        font-size: 1rem;
        font-weight: bold;
        width: 221px;
        height: 33px;
    }
    .main-image{
        width: 92px;
        height: 92px;
        margin: auto;
        margin-top: 10px;
       
        
    }
    .common-title{
        font-size: 1.3rem;
        margin-bottom: -10px;
    }
    .main-para{
        font-weight: 0.62rem;
    }
    .container{
        align-items: center;
        width: 150px;
        
    }
    .common-box{
        width: 357px;
        height: 324px;
        
    }
    .arrows{
        display: none;

    }

    /* second section */
    .our-story{
        width: 390px;
        height: 768px;
        margin-top: 450px
    }
    .container-02{
        display: none;
    }
    .four-img{
        grid-template-columns: repeat(2, 1fr);
        width: 358px;
        height: 561px;
        margin-top: -140px;
    }
    .second-title{
        font-size: 1.625rem;
        font-weight: bold;
    }
    .img-container{
        width: 173px;
        height: 179px;
        margin-left: -60px;
    }
    .extra-img{
        display: block;
    }
    .img-common{
        width: 173px;
        height: 105px;
    }
    .img-btn-same{
        width: 103px;
        height: 22px;
        font-size:0.56rem ;
        font-weight: 500;
    }
    .img-btn-purple{
        width: 103px;
        height: 22px;
        font-size:0.56rem ;
        font-weight: 500;

    }
    .same-title{
        font-size: 0.56rem;
        font-weight: bold;
    }
    .last-btn{
     display: none;  
    }
    
    /*footer section*/
    
    .footer-bg{
        width: 390px;
        height: 682px;
    }
    .footer-container{
        width: 60%;
        height: auto;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .logo-size{
        width: 250px;
        height: 69px;
        border-radius: 4px;
    }
    .kids{
     font-size: 2.18rem;
     font-weight: bold;
    }
    .footer-para{
        font-size: 1rem;
        font-weight: 400;
    }
    .about-school{
        font-size:1.25rem ;
        font-weight: 600;
    }
    .footer-nav{
        font-size: 1rem;
        font-weight: 600;
    }
    .keep-in-touch{
        font-size: 1.37rem;
        font-weight: bold;
    }
    .logo-size{
        width: 33px;
        height: 33px;
    }
    .second{
        margin-left: -90px;
    }
    .nav-item02{
        margin-left: -40px;
    }
    .third{
        margin-left: -50px;
    }
    

}